.module {
  max-width: 1080px;
  margin: 0 auto 0 auto;
  padding: 2rem 0 2rem 0;
}

.modImg {
  width: 170px;
  vertical-align: middle;
  margin-bottom: 20px;
  margin-top: 10px;
}

.imgLeft {
  margin-right: 20px;
}

.imgRight {
  margin-left: 8px;
}

.modTxt {
  max-width: 700px;
  text-align: left;
  display: inline-block;
  vertical-align: middle;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 5px;
  padding-left: 1rem;
  list-style-position: outside;
  text-indent: -1.3rem;
}

table {
  border-spacing: 1rem;
}


li::before {
  content: "►";
  color: #495664;
  margin-right: 5px;
}

tr::before {
  content: "►";
  color: #495664;
  margin-right: 0;
}

.socialRow::before{
  content: "";
}

.socialIcon{
  width: 64px;
}

.rating {
  margin-right: 50px;
}

.rating::before {
  content: "";
}

.tableCustom{
  text-align: center;
  padding-left: 2.2rem;
}

.tableColumn {
  display: inline-block;
  margin-right: 50px;
  text-align: left;
}
